/* You can add global styles to this file, and also import other style files */

img {
  max-height: 250px;
  max-width: 200px;
}

.card {
  box-shadow: 0 8px 20px 0 rgba(31, 30, 30, 0.815);
  transition: 0.3s;
  border-radius: 0.5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(27, 27, 27, 0.2);
}
